node-redCP4.json
[{"id":"2021c4ce7448d115","type":"tab","label":"Checkpoint4","disabled":false,"info":""},{"id":"18825632c8d73cab","type":"mqtt in","z":"2021c4ce7448d115","name":"","topic":"tag/1","qos":"2","datatype":"auto","broker":"8fd56d0e541701b3","x":230,"y":140,"wires":[["51597b1749f6ff9f","57d98af655d42c0b"]]},{"id":"a9c9b6443d6cea4e","type":"debug","z":"2021c4ce7448d115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"8572b01e46488e4b","type":"mqtt out","z":"2021c4ce7448d115","name":"","topic":"tag/1","qos":"0","retain":"","broker":"8fd56d0e541701b3","x":190,"y":540,"wires":[]},{"id":"51597b1749f6ff9f","type":"json","z":"2021c4ce7448d115","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["a9c9b6443d6cea4e","4f5ef9bd35e8d033"]]},{"id":"baa23837543a76cf","type":"serial in","z":"2021c4ce7448d115","name":"","serial":"6dc50b87f715eb54","x":230,"y":680,"wires":[["8572b01e46488e4b","6f15967a.b5bea8","a9a7e6c706ce20d0"]]},{"id":"57d98af655d42c0b","type":"serial out","z":"2021c4ce7448d115","name":"","serial":"6dc50b87f715eb54","x":390,"y":140,"wires":[]},{"id":"4f5ef9bd35e8d033","type":"change","z":"2021c4ce7448d115","name":"Tag","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tag","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["24bdeea.0eef112"]]},{"id":"03b107252080690b","type":"debug","z":"2021c4ce7448d115","name":"Telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":600,"wires":[]},{"id":"0bcd3a6a7c9d561d","type":"telegram sender","z":"2021c4ce7448d115","name":"Telegram Sender","bot":"68c749ae.ab5818","haserroroutput":false,"outputs":1,"x":730,"y":480,"wires":[["03b107252080690b"]]},{"id":"870ccb5fb8619d0e","type":"function","z":"2021c4ce7448d115","name":"Saída","func":"msg.payload = {\n    content : msg.payload.tag,\n    type : 'message',\n    chatId: 1505006156\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":660,"wires":[["0bcd3a6a7c9d561d"]]},{"id":"6f15967a.b5bea8","type":"debug","z":"2021c4ce7448d115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":560,"wires":[]},{"id":"a9a7e6c706ce20d0","type":"json","z":"2021c4ce7448d115","name":"","property":"payload","action":"","pretty":false,"x":470,"y":700,"wires":[["870ccb5fb8619d0e","2cab29b8.c44316"]]},{"id":"24bdeea.0eef112","type":"ui_text","z":"2021c4ce7448d115","group":"b51f1ac582a96e00","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":870,"y":260,"wires":[]},{"id":"62f7b988.e2b838","type":"ui_button","z":"2021c4ce7448d115","name":"","group":"b51f1ac582a96e00","order":1,"width":0,"height":0,"passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"grau\":180}","payloadType":"json","topic":"topic","topicType":"msg","x":170,"y":340,"wires":[["9b3a4dde.ccbda"]]},{"id":"9b3a4dde.ccbda","type":"serial out","z":"2021c4ce7448d115","name":"","serial":"6dc50b87f715eb54","x":490,"y":340,"wires":[]},{"id":"33b0cb79.9a0144","type":"ui_button","z":"2021c4ce7448d115","name":"","group":"b51f1ac582a96e00","order":1,"width":0,"height":0,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"grau\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":170,"y":440,"wires":[["9b3a4dde.ccbda"]]},{"id":"9207a27f.d82df","type":"e-mail","z":"2021c4ce7448d115","server":"smtp.gmail.com","port":"465","secure":false,"tls":false,"name":"victor.rubem02@gmail.com","dname":"teste","x":830,"y":740,"wires":[]},{"id":"2cab29b8.c44316","type":"function","z":"2021c4ce7448d115","name":"Saída","func":"msg.payload = msg.payload.tag;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":780,"wires":[["9207a27f.d82df","baa69472.870ea8"]]},{"id":"d4cc8bc6.ea60e8","type":"catch","z":"2021c4ce7448d115","name":"","scope":["9207a27f.d82df"],"uncaught":false,"x":630,"y":720,"wires":[["9207a27f.d82df"]]},{"id":"baa69472.870ea8","type":"ui_toast","z":"2021c4ce7448d115","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":890,"y":820,"wires":[]},{"id":"8fd56d0e541701b3","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6dc50b87f715eb54","type":"serial-port","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"68c749ae.ab5818","type":"telegram bot","botname":"@ZENITIBOT","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b51f1ac582a96e00","type":"ui_group","name":"Tag","tab":"1128d52a74959146","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1128d52a74959146","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]